#syn_custom_banner {
    background: #FAFAFA;
}

#syn_custom_banner .hndle {
    background: #FFF;
}

.banner-thumb {
	display: block;
    width: 100%;
	margin-bottom: 12px;
}

.banner-form {
	width: 44%;
	margin-right: 1%;
	display: inline-block;
	vertical-align: top;
    padding: 1.5% 2%;
    border: 1px solid #DFDFDF;
    background: #FFF;
}

.banner-form form textarea {
    width: 100%;
}

#post-body .custom-banner .hndle {
	cursor: pointer;
}

.delete-banner {
    color: red;
    float: right;
    cursor: pointer;
    text-decoration: none;
}

.delete-banner:hover{
    text-decoration: underline;
    color: red;
}

.banner-button-row {
    margin-top: 20px;
    padding-top: 10px;
    border-top: 1px solid #DFDFDF;
}
